.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/debugbar
bootstrap/cache/*.php
.env
.env.*
docker-compose.yml
npm-debug.log
yarn-error.log
coverage
tests
.DS_Store
